html {
  background-image: url("../dashboard/images/nostalgia.png");
  background-repeat: no-repeat;
}

header {
  width: 999px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  grid-area: calendar;
}
.calculator {
  grid-area: calculator;
}
.greetings {
  grid-area: greetings;
}
.clock {
  grid-area: clock;
}
.toDoList {
  grid-area: todolist;
}
.grid-container {
  display: grid;
  grid-template-columns: 333px 333px 333px;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "calendar calendar   calculator"
    "greetings greetings container"
    "todolist todolist clock";

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  max-width: 999px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-template-areas:
    "month-year month-year month-year month-year month-year month-year month-year"
    "sun mon tues wed thurs fri sat"
    "day1 day2 day3 day4 day5 day6 day7"
    "day8 day9 day10 day11 day12 day13 day14";
  text-align: center;
  background-color: rgb(177, 119, 119);
  padding: 15px;
}

.tues {
  grid-area: tues;
}
.wed {
  grid-area: wed;
}
.thurs {
  grid-area: thurs;
}
.month-year {
  grid-area: month-year;
}
.sun {
  grid-area: sun;
}
.mon {
  grid-area: mon;
}
.fri {
  grid-area: fri;
}
.sat {
  grid-area: sat;
}

.day1 {
  grid-area: day1;
}
.day2 {
  grid-area: day2;
}
.day3 {
  grid-area: day3;
}
.day4 {
  grid-area: day4;
}
.day5 {
  grid-area: day5;
}
.day6 {
  grid-area: day6;
}
.day7 {
  grid-area: day7;
}
.day8 {
  grid-area: day8;
}
.day9 {
  grid-area: day9;
}
.day10 {
  grid-area: day10;
}
.day11 {
  grid-area: day11;
}
.day12 {
  grid-area: day12;
}
.day13 {
  grid-area: day13;
}
.day14 {
  grid-area: day14;
}

.calculator {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 10px;
  justify-content: center;
  grid-template-rows: 18% 18% 18% 18% 18%;
  grid-template-areas:
    "clear answer answer answer"
    "number7 number8 number9 division"
    "number4 number5 number6 product"
    "number1 number2 number3 minus"
    "number0 decimal plus equals";

  background-color: rgb(177, 119, 119);
  border-left: 1px solid gray;
  padding: 10px;
}

.answer {
  grid-area: answer;
  color: black;
  font-size: 30px;
  text-align: center;
}
.number1 {
  grid-area: number1;
}
.number2 {
  grid-area: number2;
}
.number3 {
  grid-area: number3;
}
.number4 {
  grid-area: number4;
}
.number5 {
  grid-area: number5;
}
.number6 {
  grid-area: number6;
}
.number7 {
  grid-area: number7;
}
.number8 {
  grid-area: number8;
}
.number9 {
  grid-area: number9;
}
.number0 {
  grid-area: number0;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.decimal {
  grid-area: decimal;
}
.product {
  grid-area: product;
}
.division {
  grid-area: division;
}
.equals {
  grid-area: equals;
}
.clear {
  grid-area: clear;
}

.calculator > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.greetings {
  background-color: rgb(187, 119, 119);
  border-top: 1px solid gray;
}
.greetings > div {
  padding: 30px;
  text-align: center;
}
.clock {
  display: grid;
  grid-template-areas: "hour hour hour colon minute minute minute am-pm";

  margin-top: 100px;
  font-size: 70px;
  padding: 10px;
  text-align: center;
  color: wheat;
}
.hour {
  grid-area: hour;
}
.minute {
  grid-area: minute;
}
.colon {
  grid-area: colon;
}
.am-pm {
  grid-area: am-pm;
}
.toDoList {
  display: grid;

  grid-template-columns: 95%;
  grid-gap: 10px;

  grid-template-rows: 20% 20% 20% 20%;
  grid-template-areas:
    "todolist"
    "plan"
    "workout"
    "meeting";
}
.box-title {
  grid-area: todolist;

  background-color: beige;

  justify-content: center;
  display: flex;
  align-items: center;
}
.box-plan {
  grid-area: plan;
  background-color: darkorange;
  display: flex;
  align-items: center;
}
.box-workout {
  grid-area: workout;
  background-color: burlywood;
  display: flex;
  align-items: center;
}
.box-meeting {
  grid-area: meeting;
  background-color: rgb(86, 197, 35);
  display: flex;
  align-items: center;
}

footer {
  width: 999px;
  height: 40px;
  background-color: black;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.container {
  border-left: 1px solid black;
  font-family: Courier;
  font-size: 16px;
  color: darkred;
  grid-area: container;
  background-color: rgb(187, 119, 119);
}
.button {
  color: darkred;
  cursor: pointer;
  height: 25px;
  width: 150px;
  background-color: #efefef;
  border: 1px solid white;
  box-shadow: 2px 2px lightgray;
  font-family: Courier;
  font-size: 12px;
}
.loc {
  margin: 20px;
}
.coordinates {
  margin: 20px;
}
.map {
  margin: 20px;
}
.boxcontainer {
  max-width: 999px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "score score"
    "popcorn baker1"
    "popcorn baker2";

  margin-left: auto;
  margin-right: auto;
  align-content: center;
  /* align-content is placing content, no content, but elements in the vertical center of the document. */
  height: 800px;
  text-align: center;
}

.box1 {
  grid-area: score;
  background-color: blueviolet;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

.box2 {
  grid-area: popcorn;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Popcorn-Machine-4-wheel-600x753.jpg);
}

.box3 {
  grid-area: baker1;
  background-color: #2e3035;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
}
.box4 {
  grid-area: baker2;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  font-size: 20px;
}
#button1:hover {
  background-color: #2ccc59;
}

.box3,
.box4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 175px 30px;
  grid-template-areas:
    "image buttonInteractive"
    "box3inner buttonInteractive";
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.imageSmallBaker {
  grid-area: image;
  background-color: black;
}

.imageMediumBaker {
  grid-area: image;
  background-color: white;
}
.box3Interactive,
.box4Interactive {
  list-style-type: none;
  grid-area: buttonInteractive;
  /* background-color: #40ef8c; */
  display: grid;
  grid-row-gap: 30px;
}
.box3Inner,
.box4Inner {
  grid-area: box3inner;
  background-color: #cec627;
  /* grid-row-gap: 30px; */
}
.baker1 {
  color: black;
}

/* Media for Tablet size */
@media (min-width: 481px) and (max-width: 767px) {
  html {
    background: none;
  }
  .grid-container {
    background-color: rgb(177, 119, 119);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "calendar calendar"
      "greetings clock"
      "calculator todolist";
  }
  header {
    width: auto;
  }
  .calendar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "month-year month-year month-year month-year month-year month-year month-year"
      "sun mon tues wed thurs fri sat"
      "day1 day2 day3 day4 day5 day6 day7"
      "day8 day9 day10 day11 day12 day13 day14";
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid wheat;
    font-size: 20px;
    width: auto;
  }
  .tues {
    grid-area: tues;
    padding: 10px;
  }
  .wed {
    grid-area: wed;
    padding: 10px;
  }

  .thurs {
    grid-area: thurs;
    padding: 10px;
  }
  .month-year {
    grid-area: month-year;
    padding: 10px;
  }
  .sun {
    grid-area: sun;
    padding: 10px;
  }
  .mon {
    grid-area: mon;
    padding: 10px;
  }
  .fri {
    grid-area: fri;
    padding: 10px;
  }
  .sat {
    grid-area: sat;
    padding: 10px;
  }

  footer {
    width: auto;
  }
  .clock {
    display: grid;
    grid-template-areas: "hour colon minute am-pm";
    font-size: 70px;
    color: wheat;
  }

  .calculator {
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
  }
  .toDoList {
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
  }
  .box-title {
    margin-right: 0px;
  }
  .box-plan {
    margin-right: 0px;
  }
  .box-workout {
    margin-right: 0px;
  }
  .box-meeting {
    margin-right: 0px;
  }

  .boxcontainer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      "score score score"
      " baker1 popcorn baker2";
    /* align-content is placing content, no content, but elements in the vertical center of the document. */
    height: 400px;
  }

  .box3 {
    grid-area: baker1;
    background-image: url(popcorn1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* color: black; */
  }
  .box4 {
    grid-area: baker2;
    background-image: url(popcorn2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .imageSmallBaker,
  .imageMediumBaker {
    display: none;
  }

  .box3,
  .box4 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "buttonInteractive"
      "boxinner";
    justify-content: center;
    align-items: center;
  }

  .box3Interactive,
  .box4Interactive {
    list-style-type: none;
    grid-area: buttonInteractive;
    /* background-color: #40ef8c; */
    display: grid;
    grid-row-gap: 20px;
  }
  .box3Inner,
  .box4Inner {
    grid-area: boxinner;
    background-color: #cec627;
    /* grid-row-gap: 30px; */
  }
}

/* Coding for Smartphone */
@media (max-width: 480px) {
  html {
    background: none;
  }
  .grid-container {
    background-color: rgb(177, 119, 119);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "calendar"
      "calculator"
      "greetings"
      "todolist"
      "clock";
  }
  .calendar {
    font-size: 15px;
    width: auto;
  }
  header {
    width: auto;
  }
  footer {
    width: auto;
  }

  .clock {
    display: grid;
    grid-template-areas: "hour colon minute am-pm";
    justify-content: center;
    margin: 20px 0px;
    font-size: 70px;
    text-align: center;
    color: wheat;
  }

  .calculator {
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
  }
}
