html {
  background-image: url("patrick-tomasso-208114-unsplash.jpg");
  background-repeat: no-repeat;
}

header {
  width: 999px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  grid-area: calendar;
}
.calculator {
  grid-area: calculator;
}
.greetings {
  grid-area: greetings;
}
.clock {
  grid-area: clock;
}
.toDoList {
  grid-area: todolist;
}
.grid-container {
  display: grid;
  grid-template-columns: 333px 333px 333px;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "calendar calendar   calculator"
    "greetings greetings greetings"
    "todolist todolist clock";

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  max-width: 999px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px 90px 90px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-template-areas:
    "month-year month-year month-year month-year month-year month-year month-year"
    "sun mon tues wed thurs fri sat"
    "day1 day2 day3 day4 day5 day6 day7"
    "day8 day9 day10 day11 day12 day13 day14";
  text-align: center;
  background-color: rgb(177, 119, 119);
  padding: 15px;
}

.tues {
  grid-area: tues;
}
.wed {
  grid-area: wed;
}
.thurs {
  grid-area: thurs;
}
.month-year {
  grid-area: month-year;
}
.sun {
  grid-area: sun;
}
.mon {
  grid-area: mon;
}
.fri {
  grid-area: fri;
}
.sat {
  grid-area: sat;
}

.day1 {
  grid-area: day1;
}
.day2 {
  grid-area: day2;
}
.day3 {
  grid-area: day3;
}
.day4 {
  grid-area: day4;
}
.day5 {
  grid-area: day5;
}
.day6 {
  grid-area: day6;
}
.day7 {
  grid-area: day7;
}
.day8 {
  grid-area: day8;
}
.day9 {
  grid-area: day9;
}
.day10 {
  grid-area: day10;
}
.day11 {
  grid-area: day11;
}
.day12 {
  grid-area: day12;
}
.day13 {
  grid-area: day13;
}
.day14 {
  grid-area: day14;
}

.calculator {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-gap: 10px;
  justify-content: center;
  /* grid-template-rows: 50px 50px 50px 50px 50px 50px; */
  grid-template-areas:
    "clear answer answer answer"
    "number7 number8 number9 division"
    "number4 number5 number6 product"
    "number1 number2 number3 minus"
    "number0 decimal plus equals";

  background-color: rgb(177, 119, 119);
  border-left: 1px solid gray;
  padding: 10px;
}

.answer {
  grid-area: answer;
  background-color: black !important;
  color: white;
}
.number1 {
  grid-area: number1;
}
.number2 {
  grid-area: number2;
}
.number3 {
  grid-area: number3;
}
.number4 {
  grid-area: number4;
}
.number5 {
  grid-area: number5;
}
.number6 {
  grid-area: number6;
}
.number7 {
  grid-area: number7;
}
.number8 {
  grid-area: number8;
}
.number9 {
  grid-area: number9;
}
.number0 {
  grid-area: number0;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.decimal {
  grid-area: decimal;
}
.product {
  grid-area: product;
}
.division {
  grid-area: division;
}
.equals {
  grid-area: equals;
}
.clear {
  grid-area: clear;
}

.calculator > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.greetings {
  /* width: 500px;
  height: 300px; */
  background-color: rgb(187, 119, 119);
  border-top: 1px solid gray;
}
.greetings > div {
  padding: 30px;
  text-align: center;
}
.clock {
  display: grid;
  /* grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px; */
  grid-template-areas: "hour hour hour colon minute minute minute am-pm";
  margin-top: 100px;
  font-size: 70px;
  padding: 10px;
  text-align: center;
  color: wheat;
}
.hour {
  grid-area: hour;
}
.minute {
  grid-area: minute;
}
.colon {
  grid-area: colon;
}
.am-pm {
  grid-area: am-pm;
}
.toDoList {
  display: grid;
  width: auto;
  grid-template-areas:
    "todolist"
    "plan"
    "workout"
    "meeting";
}
.box-title {
  grid-area: todolist;
  height: 50px;
  background-color: beige;
  margin-top: 50px;
  text-align: center;
}
.box-plan {
  grid-area: plan;
  background-color: darkorange;
  height: 50px;
}
.box-workout {
  grid-area: workout;
  background-color: burlywood;
  height: 50px;
}
.box-meeting {
  grid-area: meeting;
  background-color: rgb(86, 197, 35);
  height: 50px;
}

footer {
  width: 999px;
  height: 40px;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
@media (max-width: 480px) {
  html {
    background: none;
  }
  .grid-container {
    background-color: rgb(177, 119, 119);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "calendar"
      "calculator"
      "greetings"
      "todolist"
      "clock";

    /* font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin-left: auto;
    margin-right: auto; */
  }
  header {
    width: auto;
  }
  .calendar {
    display: grid;
    grid-template-columns: 57px 57px 57px 57px 57px 57px 57px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "month-year month-year month-year month-year month-year month-year month-year"
      "sun mon tues wed thurs fri sat"
      "day1 day2 day3 day4 day5 day6 day7"
      "day8 day9 day10 day11 day12 day13 day14";
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid wheat;
    font-size: 20px;
    width: auto;
  }
  .tues {
    grid-area: tues;
    padding: 10px;
  }
  .wed {
    grid-area: wed;
    padding: 10px;
  }

  .thurs {
    grid-area: thurs;
    padding: 10px;
  }
  .month-year {
    grid-area: month-year;
    padding: 10px;
  }
  .sun {
    grid-area: sun;
    padding: 10px;
  }
  .mon {
    grid-area: mon;
    padding: 10px;
  }
  .fri {
    grid-area: fri;
    padding: 10px;
  }
  .sat {
    grid-area: sat;
    padding: 10px;
  }

  .day1 {
    grid-area: day1;
  }
  .day2 {
    grid-area: day2;
  }
  .day3 {
    grid-area: day3;
  }
  .day4 {
    grid-area: day4;
  }
  .day5 {
    grid-area: day5;
  }
  .day6 {
    grid-area: day6;
  }
  .day7 {
    grid-area: day7;
  }
  .day8 {
    grid-area: day8;
  }
  .day9 {
    grid-area: day9;
  }
  .day10 {
    grid-area: day10;
  }
  .day11 {
    grid-area: day11;
  }
  .day12 {
    grid-area: day12;
  }
  .day13 {
    grid-area: day13;
  }
  .day14 {
    grid-area: day14;
  }
  footer {
    width: auto;
  }
  .clock {
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px; */
    grid-template-areas: "hour colon minute am-pm";
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 70px;
    text-align: center;
    color: wheat;
  }
  .hour {
    grid-area: hour;
  }
  .minute {
    grid-area: minute;
  }
  .colon {
    grid-area: colon;
  }
  .am-pm {
    grid-area: am-pm;
  }
  .calculator {
    border-bottom: 2px solid wheat;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  html {
    background: none;
  }
  .grid-container {
    background-color: rgb(177, 119, 119);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "calendar calendar"
      "greetings clock"
      "calculator todolist";

    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    width: auto;
  }
  .calendar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "month-year month-year month-year month-year month-year month-year month-year"
      "sun mon tues wed thurs fri sat"
      "day1 day2 day3 day4 day5 day6 day7"
      "day8 day9 day10 day11 day12 day13 day14";
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid wheat;
    font-size: 20px;
    width: auto;
  }
  .tues {
    grid-area: tues;
    padding: 10px;
  }
  .wed {
    grid-area: wed;
    padding: 10px;
  }

  .thurs {
    grid-area: thurs;
    padding: 10px;
  }
  .month-year {
    grid-area: month-year;
    padding: 10px;
  }
  .sun {
    grid-area: sun;
    padding: 10px;
  }
  .mon {
    grid-area: mon;
    padding: 10px;
  }
  .fri {
    grid-area: fri;
    padding: 10px;
  }
  .sat {
    grid-area: sat;
    padding: 10px;
  }

  .day1 {
    grid-area: day1;
  }
  .day2 {
    grid-area: day2;
  }
  .day3 {
    grid-area: day3;
  }
  .day4 {
    grid-area: day4;
  }
  .day5 {
    grid-area: day5;
  }
  .day6 {
    grid-area: day6;
  }
  .day7 {
    grid-area: day7;
  }
  .day8 {
    grid-area: day8;
  }
  .day9 {
    grid-area: day9;
  }
  .day10 {
    grid-area: day10;
  }
  .day11 {
    grid-area: day11;
  }
  .day12 {
    grid-area: day12;
  }
  .day13 {
    grid-area: day13;
  }
  .day14 {
    grid-area: day14;
  }
  footer {
    width: auto;
  }
  .clock {
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px; */
    grid-template-areas: "hour colon minute am-pm";
    font-size: 70px;
    color: wheat;
  }
  .hour {
    grid-area: hour;
  }
  .minute {
    grid-area: minute;
  }
  .colon {
    grid-area: colon;
  }
  .am-pm {
    grid-area: am-pm;
  }
  .calculator {
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
  }
  .toDoList {
    border-bottom: 2px solid wheat;
    border-top: 2px solid wheat;
  }
  .box-title {
    margin-right: 5px;
  }
  .box-plan {
    margin-right: 5px;
  }
  .box-workout {
    margin-right: 5px;
  }
  .box-meeting {
    margin-right: 5px;
  }
}
