h2 {
  width: 850px;
  height: 210px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
img {
  float: right;
}
.Education {
  background-color: chartreuse;
  width: 850px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.Career {
  background-color: yellow;
  width: 850px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.Interest {
  background-color: blue;
  width: 850px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
